<%=content_for :title,"Urzytkownicy"%>


<div id="profile">
    <spam class="table_title">Szukaj znajomego:</spam>
    <%= search_form_for @search do |f|%>
      <div class="user_serach_field">
	<%= f.label :email_cont ,"Email:"%>
	<%= f.text_field :email_cont %>
      </div>
	<%= f.submit "Szukaj", :class=> "search_user"%>
    <% end %>
  <table class="user_attributes">
    <spam class="table_title">Użytkownicy:</spam>
    <tr>
      <th><th>
      <th><th>
    </tr>
    <%= load_user_list(@users)%>
  </table>
  <%= paginate @users %>
</div>