<ul>
<li><div class="load_gpx_name"></div></li>
<li><%= link_to "Wrzytaj GPX", "#",:class=> "load_list_gpx"%>
    <%= render :partial => "users/partials/load_location"%>
</li>
<% if @user == current_user %>
<li><%= link_to "Dodaj GPX", "#",:class=> "add_gpx"%>
    <ul>
      <li>
        <%= render :partial => "users/partials/add_file"%>
      </li>
    </ul>
</li>


<li><%= link_to "Nowy GPX","#",:class=> "new_gpx"%>
  <spam class="new_gpx_points">
  <ul>
    <li><%= link_to "Zapisz","#",:class => "add_new_markers"%></li>
    <li><%= link_to "Wyczyść","#",:class =>"clear_all_new_markers" %></li>
  </ul>
  </spam>
</li>
<li><%=link_to "Edytuj GPX","#",:class=> "edit_gpx"%></li>
  <ul>
    <spam class="edit_gpx_points">
      <li><%= link_to "Usuń", "#",:class=> "get_markers_to_remove"%>
	<spam class="remove_gpx_points">
	  <ul>
	    <li><%= link_to "Zapisz","#",:class =>"set_markers_to_remove" %></li>
	    <li><%= link_to "Wyczyść","#",:class =>"clear_all_markers_to_remove" %></li>
	  </ul>
	</spam>
      </li>
      <li><%= link_to "Dodaj","#",:class=>"create_new_markers"%>
	<spam class="add_gpx_points">
	  <ul>
	    <li><%= link_to "Zapisz","#",:class => "add_new_markers"%></li>
	    <li><%= link_to "Wyczyść","#",:class =>"clear_all_new_markers" %></li>
	  </ul>
	</spam>
      </li>
    </spam></ul>
      <li><%= link_to "Profil terenu", "#", :class=>"profile_area"%>
        <%= render :partial => "users/partials/profile_buttons"%>
      </li>
<% end %>
</ul>
