<%=content_for :title,"Profile"%>

<div id="profile">
  <table class="user_attributes">
    <spam class="table_title">Użytkownik:</spam>
    <tr>
      <th><th>
      <th><th>
    </tr>
    <tr>
      <td>Id:</td>
      <td><%= @user.id %></td>
    </tr>
    <tr>
    <td>
     Email:
    </td>
     <td>
     <%= @user.email %>
    </td>
    </tr>
    <%if @user == current_user %>
    <tr>
      <td>Utworzono:</td>
      <td><%= @user.created_at.to_date %></td>
    </tr>
    <tr>
      <td>Edytowano:</td>
      <td><%= @user.updated_at.to_date %></td>
    </tr>
    <% end %>
    <tr>
      <td>Liczba plików gpx:</td>
      <td><%= @location_name.count %></td>
   </tr>
   <tr>
   <% if @user == current_user %>
   <td><%= link_to "Edytuj profil", edit_user_registration_path(:id => @user.id) %></td></tr>
   <% end %>
  </table>
  </br>
  
  <table class="gpx_list">
    <spam class="table_title">Pliki gpx użytkownika:</spam>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <% @location_name.each do |file|%>
      <tr>
        <td><%= file %> </td>
        <% if @user == current_user %>
        <td> <%= link_to "Usuń", location_path(file), :method => :delete,:confirm => true %></td>
        <td><%= link_to "Pobierz",download_gpx_locations_path(file)%></td>
        <% end %>
      </tr>
    <% end %>
    
  </table>

</div>
