<%= content_for :title,"Map" %>
<%= content_for :add_image do %>
  <center><%= render :partial => "photos/partials/add_image" %><center>
<% end %>

<section id="action">
  <%= render :partial => "user/partials/profile_buttons"%>
</section>

<div id="show_body">
  <div class="action_buttons">
    <%= render :partial => "user/partials/gpx_action"%>
  </div>
  <div id="mapa">
  </div>
</div>


