<div class="session_form">
<center>
<%= form_for @photo ,:url => user_photo_path() do |f|%>
   <div>
     <%= image_tag @photo.image_url(:thumb) %>
   </div>
   <div>
    <%= f.label :name, "Nazwa" %>
    <%= f.text_field :name %>
   </div>
   <div>
    <%= f.label :description, "Opis:"%>
    <%= f.text_area :description, :size => "30x7" %>
   </div>
   <div>
     <%= f.label :public_status, "Publiczne ?"%>
     <i>(Czy zdjęcie ma być dostępne dla innych użytkowników ?)</i>
     <%= f.check_box :public_status %></div>
   <div>
   <%= f.submit "Zapisz" %></div>
<% end %>
   <p><%= link_to "Anuluj",user_photos_path(),:class=>"delete_acount" %></p>
</center>
</div>