<div id="menu">
<div id ="sMenu">
  <ul>
  <li><%= link_to "Główna", root_path %></li>
  <%if user_signed_in?%>
  <li><%= link_to "Mapa", user_path(@user)%>
  </li>
  <li><%= link_to "Galeria", user_photos_path(@user)%></li>
  <li><%= link_to "Użytkownicy", users_path %></li>
  <li><%= link_to "Profil", profile_users_path(:id => @user.id)%>
  </li>
  <% end %>
  <li><%= link_to "O nas", about_path %></li>
  </ul>
</div>
</div>

